*~
*pyc
.idea
.vscode
.pytest_cache
__pycache__
*.png
*.avi
*.pdf
*.eps
*.out
output/
logs/
data/
Figs/
.DS_Store
BACKUP
*.pkl
.venv
james/september2026/MiniGrowthTracks/DiscAnalysis_MiniGrowthTracks.ipynb
james/september2026/MiniPopSynth/DiscAnalysis_MiniPopSynth.ipynb
james/september2026/MiniGrowthTracks/*.gif
james/september2026/MiniPopSynth/*.gif.specstory
james/september2026/MiniPopSynth/DZ_planet_evolution.gif
